html {
    font-size: 16px;
}

body {
    /* font-family: to be determine ; */
    background-color: rgb(28,54,89);
    color: white;
}

figure {
    margin: 0;
    padding: 0;
}

img {
    height: auto;
    max-width: 100%;
}

.container {
    padding: 4rem 2rem;
}

/* Paragraph + links */

p {
    margin:  0 0 1.5rem;
}

h1 {
    font-size: 2.375rem;
    line-height: 1.25;
    margin: 0 0 1.5rem;
}

h2 {
    font-size: 1.75rem;
    line-height: 1.15;
    margin: 0 0 .5rem;
}

h3 {
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
}

small, .form-msg, .city__country {
        font-size: 0.875rem;
        line-height: 1.25;
    
}

a {
    color: red;
    text-decoration: none;
    /* transition: to be determine; */
}

a:hover {
    color: aqua;
}

/* Lists */

/* Forms */

form {
    width: 100%;
    margin-bottom: 2rem;
    max-width: 30rem;
}

label {
    margin-bottom: .5rem;
    display: block;
}

input {
    border-radius: 5px;
    /* margin-bottom: 1rem; */ /*gap between message box and search box*/
}

input[type="text"] {
    height: 2.25rem;
    background: url(./img/static/icons8-search-48.png) 0.75rem center no-repeat;
    background-size: 1.85rem;
    background-color: rgb(20,38,61);
    color: antiquewhite;
    padding-left: 3.25rem;
    outline: none;
    transition: all 1s ease-in-out;
    flex-grow: 1; /* is it a good styling? */
}

input:focus, input:hover {
    background-color: rgb(15,27,45);
}

input::placeholder {
    color: rgb(65, 83, 106);
}

.form-row {
    display: flex;
    gap: .5rem;
}

form button {
    height: 2.25rem;
    width: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

form button:hover {
    /* transform: scale(1.1);
    transition: all 1s ease-in-out; */
    transition: transform 1.5s;
    transform: rotate(360deg);
}

.form-msg {
    background-color: rgb(20,38,61);
    padding: .5rem 1rem;
    border-radius: 0 0 5px 5px;
    margin-left: .75rem;
    width: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    z-index: -1;
    position: relative;
    transition: all 0.1s ease;
}

.form-msg.visible {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}